<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam eveniet eaque voluptatibus, repudiandae doloribus qui, rerum possimus exercitationem asperiores id sequi placeat aspernatur alias voluptas cum ex ipsam harum sapiente./p>

<%- include("footer") -%>
